extends layouts/main.pug
include mixins/videoBlock

block content
    .search_header
        h3 Searching for: #{searchingBy}
    .search_videos
        each item in videoLists
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFile: item.videoFile
            })